[Unit]
Description = play video automatically
After=local-fs.target
ConditionPathExists=opt/pv/bin

[Service]
ExecStart=/opt/pv/bin/play-video.sh
Restart=no
User=pi
Type=simple

[Install]
WantedBy=multi-user.target
